@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
  background-color: #2e1a47; /* Deep Purple */
  color: #f3e5ab; /* Cream */
}

.font-serif {
  font-family: "Playfair Display", serif;
}

:root {
  --primary: #d4af37; /* Gold */
  --primary-light: #f3e5ab; /* Cream/Light Gold */
  --paper: #3d2459; /* Slightly lighter purple for cards/paper */
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}
